.option-card {
    width: 100%;
    height: auto;
    padding: 8px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    cursor: pointer;
    .card-img {
        width: 50%;
        height: auto;
    }
    .card-title {
        padding: 0;
        margin: 0;
    }
}