# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/bin
/obj
/wwwroot/*

# IDEs and editors
/.vs
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.user

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
